@use "../../app.scss" as *;

.years {
  position: absolute;
  @include pt-sans-bold;
  font-size: 10.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2.5vw;
  top: calc(25vh - (14.8vh / 2));
  letter-spacing: -0.03em;
  line-height: 14.8vh;
  z-index: -1;
  padding-right: 1.7vw;

  @media screen and (max-width: 500px) {
    position: relative;
    top: 0;
    font-size: 17.5vw;
    gap: 6vw;
    justify-content: start;

    padding-bottom: 10vh;
    border-bottom: 1px solid var(--color-grey);
  }

  &--first {
    color: var(--color-blue);
  }

  &--second {
    color: var(--color-pink);
  }
}
