:root {
  --primary-background-color: #f4f5f9;
  --color-main: rgb(66, 86, 122);
  --color-main-10: rgba(66, 86, 122, 0.1);
  --color-main-20: rgba(66, 86, 122, 0.2);
  --color-main-50: rgba(66, 86, 122, 0.5);
  --color-secondary: rgba(66, 86, 122, 0.5);
  --color-grey: #c7cdd9;
  --color-blue: #3877ee;
  --color-violet: #5d5fef;
  --color-pink: #ef5da8;
}
